{% extends "base.html" %}

{% block title %}파일 게시판{% endblock %}

{% block content %}

 <h3 class="mb-4 text-center">컴활2급 파일 준비물</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="text-align:center;">준비물</th>
      <th scope="col" style="text-align:center;">제  목</th>
      <th scope="col" style="text-align:center;">작성자</th>
      <th scope="col" style="text-align:center;">생성일</th>
    </tr>
  </thead>
  <tbody>
{% for post in posts %}
    <tr class="table-info">
      <th scope="row" style="text-align:center;">준비물</th>
      <td style="text-align:center;"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></td>
      <td style="text-align:center;">{{ post.customuser.username}}</td>
      <td style="text-align:center;">({{ post.created_at|date:"Y-m-d H:i" }})</td>
    </tr>
{% endfor %}
  </tbody>
</table>


{% endblock %}
