{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="container mt-4 text-center">
  <h2 class="mb-3">{{ video.title }}</h2>
  <p class="mb-3">카테고리: {{ video.category.name }}</p>

  <!-- HTML5 Video Player -->
  <video width="640" height="360" controls>
    <source src="{{ video.video_file.url }}" type="video/mp4">
    브라우저가 동영상을 지원하지 않습니다.
  </video>

  <div class="mt-4">
    <a href="{% url 'blog:index' %}" class="btn btn-secondary">갤러리로 돌아가기</a>
  </div>
</div>
{% endblock %}